<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} - Microservice Starter</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {{> header}}
  {{{body}}}
  {{> footer}}
  <script src="/select.js"></script>
  <script src="/form.js"></script>
</body>
</html>